@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap");

// 主顏色與次顏色
$color-maim: #252525;
$color-sub: #6eb3ff;
$color-bg-gray:#f9f9f9;
$color-white:#cdcdcd;

//  文字大小:最大
$font-size-big: 36px;
// 字體
$font-family-main: "Kufam", cursive;

// RWD:桌上、平板、手機
$desktop: 1025px;
$table: 1024px;
$mobile: 767px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 標楷體;
    color: $color-maim;
}

// 導覽列

#navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 100px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    // 固定:寬度會跑掉
    position: fixed;
    width: 100%;
    background: white;

    // 格限樣板區域: " 區域名稱 "
    @media screen and (max-width: $table) {
        grid-template-areas: "logo social menu";
    }

    
    img {
        filter: invert(19%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
        transition: 0.5s;
        width: 32px;
        margin-left: 30px;
        
        &:hover {
            filter: invert(70%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
        }
    }
    // 選單
    #menu {

        grid-area: menu;
        // 桌電:隱藏
        @media screen and (min-width: $desktop) {
             display: none;
        }
        // 平板:顯示
        @media screen and (max-width: $table) {
            display: block;
            // 左邊自動
            margin-left: auto;
        }
    }
}

.logo {
    font-family: $font-family-main;
    font-size: 36px;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 3px;
    grid-area: logo;

    &:hover {
        color: $color-sub;
    }
}

.link {
    text-align: center;

    a {
        text-decoration: none;
        padding: 30px 30px 30px 30px;
        font-size: 30px;
        transition: 0.3s;
        letter-spacing: 10px;

        &:hover {
            color: $color-sub;
        }
    }

    // 平板:隱藏
    @media screen and (max-width: $table){
        display: none;
    }
}
.social {
    text-align: right;
    grid-area: social;
}

#banner {
    width: 100%;
    height: 100vh;
    background: #eeeeee;
}

// 關於我
#about {
    width: 100%;
    height: 100vh;
    text-align: center;

    h2 {
        font-size: 300px;
        font-family: $font-family-main;
        letter-spacing: 20px;
        padding-left: 20px;
        margin-top: 100px;
    }

    p {
        padding: 30px;
        margin-bottom: 50px;
    }
}
// 標題
.title {
    font-size: $font-size-big;
    padding: 35px;
    text-align: center;
}
// 按鈕:盒子
.button-box {
    padding: 10px 60px;
    border: 2px solid $color-maim;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        background: $color-maim;
        color: white;
    }
}

// 按鈕外的區塊
.button-div {
    text-align: center;
    margin-top: 50px;
}


// 作品集
#works {
    height: 100vh;
    background: $color-bg-gray;

    #work-box {
        width: 1200px;
        display: grid;
        margin: 0 auto;
        // repeat(數量,一格的寬度)
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,335px);
        // 格線縫隙:上下 左右
        grid-gap: 20px 35px;

        // 平板
        @media screen and (max-width: $table) {
            width: 100%;
            grid-template-columns: repeat(2,1fr);
            padding: 0 30px;
        }

        .work-box-small {

            img {

            display: block;
            width: 100%;
            height: 300px;
            background: #000;
            }
            
            h2 {
                text-align: center;
                transform: translateY(-30px);
            }

            span {
                display: inline-block;
                border: 1px solid #000;
                border-radius: 30px;
                padding: 5px 10px;
                margin-top: 5px;
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }
}

// 頁尾
footer {
    background: $color-maim;
    padding: 50px;
    text-align: center;

    .logo {
        color: $color-white;
    }

    .link {
        a{
            color: $color-white;
        }
    }

    .social {
        text-align: center;

        img {
            filter: invert(70%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
            margin: 30px 20px;
        }
    }

    #copyright {
        color: $color-white;
        font-size: 8px;
        margin-top: 50px;
    }
}