@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 標楷體;
  color: #252525;
}

#navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 100px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background: white;
}

@media screen and (max-width: 1024px) {
  #navigation {
        grid-template-areas: "logo social menu";
  }
}

@media screen and (max-width: 767px) {
  #navigation {
    padding: 10px 6px;
  }
}

#navigation img {
  -webkit-filter: invert(19%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
          filter: invert(19%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 32px;
  margin-left: 30px;
}

#navigation img:hover {
  -webkit-filter: invert(70%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
          filter: invert(70%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
}

#navigation #menu {
  grid-area: menu;
}

@media screen and (min-width: 1025px) {
  #navigation #menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #navigation #menu {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  #navigation #menu {
    width: 32px;
  }
}

.logo {
  font-family: "Kufam", cursive;
  font-size: 36px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 3px;
  grid-area: logo;
}

.logo:hover {
  color: #6eb3ff;
}

.link {
  text-align: center;
}

.link a {
  text-decoration: none;
  padding: 30px 30px 30px 30px;
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 10px;
}

.link a:hover {
  color: #6eb3ff;
}

@media screen and (max-width: 1024px) {
  .link {
    display: none;
  }
}

.social {
  text-align: right;
  grid-area: social;
}

@media screen and (max-width: 767px) {
  .social {
    margin-left: 0;
  }
}

#banner {
  width: 100%;
  height: 100vh;
  background: #eeeeee;
}

#about {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#about h2 {
  font-size: 300px;
  font-family: "Kufam", cursive;
  letter-spacing: 20px;
  padding-left: 20px;
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  #about h2 {
    font-size: 64px;
    letter-spacing: 10px;
    padding-left: 10px;
    margin-top: 100px;
  }
}

#about p {
  padding: 30px;
  margin-bottom: 50px;
}

.title {
  font-size: 36px;
  padding: 35px;
  text-align: center;
}

.button-box {
  padding: 10px 60px;
  border: 2px solid #252525;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-box:hover {
  background: #252525;
  color: white;
}

.button-div {
  text-align: center;
  margin-top: 50px;
}

#works {
  height: 100vh;
  background: #f9f9f9;
}

#works #work-box {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (335px)[2];
      grid-template-rows: repeat(2, 335px);
  grid-gap: 20px 35px;
}

@media screen and (max-width: 1024px) {
  #works #work-box {
    width: 100%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0 30px;
  }
}

#works #work-box .work-box-small img {
  display: block;
  width: 100%;
  height: 300px;
  background: #000;
}

#works #work-box .work-box-small h2 {
  text-align: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#works #work-box .work-box-small span {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 12px;
}

footer {
  background: #252525;
  padding: 50px;
  text-align: center;
}

footer .logo {
  color: #cdcdcd;
}

footer .link a {
  color: #cdcdcd;
}

footer .social {
  text-align: center;
}

footer .social img {
  -webkit-filter: invert(70%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
          filter: invert(70%) sepia(6%) saturate(3996%) hue-rotate(194deg) brightness(98%) contrast(83%);
  margin: 30px 20px;
}

footer #copyright {
  color: #cdcdcd;
  font-size: 8px;
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */